// header + main_menu

header {
  text-align: center;
  background: #2d2d2d;
  padding: 14px 0 11px;
}

#logo {
  font-size: 32px;
  line-height: 1.1;
  position: relative;
  z-index: 28;
}

.menu_holder {
  @extend %ani;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: #2d2d2d;
  z-index: 27;
  @include transform(translateX(101%));
  &.is_open {
    @include transform(translateX(0));
    #menu a:before {left: -54px}
  }
}

#menu {
  padding: rem(60) 0 rem(111);
  li {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 3px 0;
    position: relative;
    z-index: 8;
    &.is_active > a {
      color: #2d2d2d;
      background: $cl;
      &:before {box-shadow: inset 0 0 0 7px $cl}
    }
  }
  a {
    display: inline-block;
    color: #fff;
    padding: 14px 15px 11px;
    &:before {
      @extend %ani;
      content: '';
      @include center(false, true);
      left: -117px;
      width: 12px;
      height: 12px;
      box-shadow: inset 0 0 0 2px #fff;
      @include rwd-max(767) {content: none}
    }
    @include hover {
      color: #2d2d2d;
      background: $cl;
      &:before {box-shadow: inset 0 0 0 7px $cl}
    }
    @include rwd-min(1025) {padding: 13px 15px 12px}
  }
}

.language-chooser {
  @include center(true, false);
  bottom: rem(36);
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 15px;
    &.lang-en a:after {content: 'EN'}
    &.lang-ua a:after {content: 'UA'}
    &.active a {box-shadow: 0 2px $cl}
    a {
      padding-bottom: 1px;
      &:after {color: #fff}
      @include hover {box-shadow: 0 2px $cl}
    }
    span {font-size: 0}
  }
}