
.top-block {
  @extend .bg;
  @extend .flex_center;
  height: calc(100vh - 115px);
  position: relative;
  @include rwd-min(1025) {height: calc(100vh - 60px)}
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 0;
  }
}
