// portfolio
#portfolio {
  @include rwd-max(1024) {padding-bottom: rem(36)}
  .container {
    width: 1360px;
    max-width: calc(100% - 60px);
    @include rwd-min(768) {max-width: calc(100% - 120px)}
  }
}
.portfolio_items {
  @include rwd-min(569) {
    @include flexbox;
    @include flex-wrap(wrap);
    margin-right: -5px;
  }
}
.portfolio_item {
  margin-bottom: 100px;
  position: relative;
  z-index: 0;
  @include rwd-min(569) {
    width: calc(50% - 5px);
    margin-right: 5px;
  }
  @include rwd-min(961) {
    &:not(:first-child):not(:nth-child(2)){width: calc(33.3334% - 5px)}
  }
  @include rwd-min(1025) {
    margin: 0 5px 5px 0;
    overflow: hidden;
    &:after {
      @include transition();
      @include transform(skewX(30deg));
      content: '';
      position: absolute;
      top: -1px;
      left: -21%;
      bottom: -1px;
      width: 71%;
      opacity: 0;
      background: rgba(#000, 0.95);
      z-index: 0;
    }
    @include hover {
      &:after {
        width: 142%;
        opacity: 1;
      }
      .pf_item_info {
        top: 0;
        @include transition(all, 0.45s, cubic-bezier(0.4, 0.36, 0.14, 1.3), 0.25s);
      }
    }
  }
}
.pf_item_inner {
  @extend .bg;
  padding-bottom: 70.178%;
}
.pf_item_info {
  @extend %ani;
  color: #fff;
  text-align: center;
  @include rwd-min(1025) {
    position: absolute;
    top: -101%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
  }
  h3 {padding-bottom: rem(12)}
  p {
    font-size: 93.8%;
    color: $cl;
    padding-bottom: rem(21);
    @include rwd-min(1025) {padding-bottom: 30px}
  }
  .pf_item_buttons {
    @include rwd-max(1024) {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      padding: 10px;
      z-index: 1;
    }
  }
  .rm_btn {margin: 0 7px}
}
.pf_item_details {
  //@extend %ani;
  display: none;
  color: #fff;
  width: 600px;
  max-width: 80%;
  background: $tx;
  font-family: $ff;
  //opacity: 0;
  //@include transform(translateY(-70px));
  .fancybox-slide--complete & {
    //opacity: 1;
    //@include transform(translateY(-40px));
  }
  h3 {color: $cl}
  .pf_cats {
    small {
      color: $cl;
      text-transform: lowercase;
    }
  }
}


.rm_btn {
  display: inline-block;
  color: #fff;
  line-height: 1.3;
  padding: 2px 4px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  box-shadow: inset 0 -2px $cl;
  @include hover {
    color: $tx;
    box-shadow: inset 0 -26px $cl;
  }
}


// who we are
#who_we_are {
  background: -webkit-linear-gradient(330deg, $cl 10%, $tx 115%);
  background: linear-gradient(120deg, $cl 10%, $tx 115%);
  position: relative;
  .container {
    width: 570px;
    position: static;
  }
  h3.rwd_show {padding-top: rem(75)}
}
.we_are_content {
  font-weight: 300;
  position: relative;
  z-index: 1;
  h2 {color: #fff}
  ul {list-style: inside disc}
  li {padding-bottom: rem(15)}
}

#skills_list {
  transform: none !important;
  pointer-events: all !important;
  @include rwd-max(1024) {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }
  @include rwd-min(1025) {
    position: absolute !important;
    left: 0;
    right: 0;
    top: rem(45);
    bottom: rem(60);
    z-index: 0;
  }
}
[class*="skill_"] {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.1;
  color: #fff;
  background: #333;
  text-align: center;
  padding: 6px 10px 5px 10px;
  @include rwd-max(1024) {
    margin: 2px;
    max-width: 50%;
    @include flex(1);
    position: static !important;
    &.skill_1 {@include order(1)}
    &.skill_2 {@include order(2)}
    &.skill_3 {@include order(3)}
    &.skill_4 {@include order(4)}
    &.skill_5 {@include order(5)}
    &.skill_6 {@include order(6)}
    &.skill_7 {@include order(7)}
    &.skill_8 {@include order(8)}
    &.skill_9 {@include order(9)}
    &.skill_10 {@include order(10)}
    &.skill_11 {@include order(11)}
    &.skill_12 {@include order(12)}
    &.skill_13 {@include order(13)}
    &.skill_14 {@include order(14)}
    &.skill_15 {@include order(15)}
    &.skill_16 {@include order(16)}
    &.skill_17 {@include order(17)}
    &.skill_18 {@include order(18)}
    &.skill_19 {@include order(19)}
    &.skill_20 {@include order(20)}
    &.skill_21 {@include order(21)}
    &.skill_22 {@include order(22)}
  }
  @include rwd-min(1025) {
    display: inline-block !important;
    position: absolute !important;
    box-shadow: 0 0 5px 0 $tx;
    padding: 5px 10px;
    &.is_smaller {
      font-size: 11px;
      padding: 5px 8px;
    }
    &.skill_1 {
      top: 5% !important;
      left: 4% !important;
    }
    &.skill_2 {
      top: 12% !important;
      left: 17% !important;
    }
    &.skill_3 {
      top: 21% !important;
      left: 9% !important;
    }
    &.skill_4 {
      top: 37% !important;
      left: 6% !important;
    }
    &.skill_5 {
      top: 44% !important;
      left: 19% !important;
    }
    &.skill_6 {
      top: 59% !important;
      left: 13% !important;
    }
    &.skill_7 {
      top: 75% !important;
      left: 4% !important;
    }
    &.skill_8 {
      top: 85% !important;
      left: 10% !important;
    }
    &.skill_9 {
      top: 7% !important;
      right: 16% !important;
      left: auto !important;
    }
    &.skill_10 {
      top: 14% !important;
      right: 8% !important;
      left: auto !important;
    }
    &.skill_11 {
      top: 26% !important;
      right: 11% !important;
      left: auto !important;
    }
    &.skill_12 {
      top: 36% !important;
      right: 17% !important;
      left: auto !important;
    }
    &.skill_13 {
      top: 48% !important;
      right: 20% !important;
      left: auto !important;
    }
    &.skill_14 {
      top: 57% !important;
      right: 9% !important;
      left: auto !important;
    }
    &.skill_15 {
      top: 68% !important;
      right: 14% !important;
      left: auto !important;
    }
    &.skill_16 {
      top: 71% !important;
      left: 18% !important;
    }
    &.skill_17 {
      top: 52% !important;
      left: 3% !important;
    }
    &.skill_18 {
      top: 30% !important;
      left: 17% !important;
    }
    &.skill_19 {
      top: 18% !important;
      right: 19% !important;
      left: auto !important;
    }
    &.skill_20 {
      top: 42% !important;
      right: 6% !important;
      left: auto !important;
    }
    &.skill_21 {
      top: 80% !important;
      right: 19% !important;
      left: auto !important;
    }
    &.skill_22 {
      top: 88% !important;
      right: 8% !important;
      left: auto !important;
    }
  }
}



// what we do
.we_do_columns {padding-top: rem(30)}
.we_do_col {
  margin-bottom: rem(90);
  @include rwd-max(1024) {
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
  }
  @include rwd-min(1025) {
    width: 30%;
    &:nth-child(2) {@include order(-1)}
  }
  img {
    width: 56px;
    margin-bottom: rem(24);
  }
}
.we_do_desc {
  margin-top: rem(39);
  border-left: 2px solid $cl;
  padding: rem(6) rem(21) 0 rem(21);
  > *:last-child {padding-bottom: rem(6)}
  p {font-size: 94%}
}


// contact us
#contact_us {
  padding-bottom: rem(30);
  //background: -webkit-linear-gradient(330deg, $cl 25%, $tx 85%);
  //background: linear-gradient(120deg, $cl 25%, $tx 85%);
  background: -webkit-linear-gradient(330deg, $cl 10%, $tx 115%);
  background: linear-gradient(120deg, $cl 10%, $tx 115%);
  .container {width: 460px}
  h2 {color: #fff}
  ul {padding-bottom: rem(30)}
  li {padding-bottom: rem(15)}
}
.contact_row {
  margin-bottom: rem(75);
  @include rwd-min(415) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }
  @include rwd-max(414) {text-align: center}
  a {
    color: #fff;
    font-size: 112.5%;
    font-weight: 300;
    margin-bottom: 25px;
    @include inline-flex;
    @include align-items(center);
    @include justify-content(flex-start);
    @include hover {box-shadow: 0 2px #fff}
    @include rwd-max(414) {margin: 0 20px 25px}
    img {margin-right: 9px}
  }
}
#map {
  color: $tx;
  @include rwd-range(1024, 768) {height: 450px !important}
  @include rwd-min(1025) {height: 550px !important}
}